  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 .copy_right_footer
 {
   position: fixed;
   text-align: center;
   line-height: 3;
   background-color: grey;
   color: white;
   width: 100%;
   bottom: 0;
 }
body
{
background-attachment: fixed;
background-size:100%;
background-blend-mode: multiply;
animation: cool;
animation-duration: 14s;
animation-iteration-count: infinite;
}
@keyframes cool
{
from{background:rgba(255, 0, 0, 0.2),url("background.jpg")}
to{background: rgba(255, 165, 0, 0.2),url("background.jpg")}
}